@charset "utf-8";

@import url("../fonts/FUTURATEE_BOLDCONDENSED/stylesheet.css"); /* FUTURATEE BOLDCONDENSED */
@import url("../fonts/NIMBUSSANSDEE_BOLD/stylesheet.css"); /* NIMBUSSANSDEE BOLD */
@import url("../fonts/FUTURATEE_LIGHT/stylesheet.css"); /* FUTURATEE LIGHT */
@import url("../fonts/NIMBUSSANSDEE_LIGHT/stylesheet.css"); /* NIMBUSSANSDEE LIGHT */
@import url("../fonts/FUTURATEE_BOOK/stylesheet.css"); /* FUTURATEE BOOK */

/* Primere css for visual selectors */
#primere_visual_modal {
    align-content: start;
    text-align: left;
    background-color: #484848;
}
#primere_visual_modal .visual_modal_title {
    text-align: center;
    padding: 0px;
    margin-top: -1em;
    color: var(--input-text);
    text-transform: capitalize;
    font-style: normal;
    font-size: 28px;
    /* line-height: 0px; */
    height: 10px;
}

#primere_visual_modal button.modal-closer {
    text-align: center;
    padding: 5px;
    margin-top: -1em;
    font-style: normal;
    width: 200px;
    box-shadow: inset 1px 1px 3px #bdbdbd;
}

#primere_visual_modal .primere-modal-content {
    z-index: 10000;
    overflow: auto;
    height: 90%;
}
#primere_visual_modal .visual-ckpt {
    width: min-content;
    display: inline-grid;
    margin-right: 10px;
    border: white solid 1px;
    margin-bottom: 8px;
    cursor: pointer;
    box-shadow: 2px 2px 6px #909090;
    position: relative;
    background: white;
    color: black;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius:5px;
}
#primere_visual_modal .visual-ckpt.visual-ckpt-selected {
    background: #672727 !important;
    color: white !important;
    border: #ff5151 solid 2px;
    cursor: not-allowed;
    pointer-events: none;
    margin-right: 25px;
}
#primere_visual_modal .visual-ckpt.visual-ckpt-selected:after {
    content: "";
    background-color: #b3b3b3;
    position: absolute;
    width: 1px;
    height: 97%;
    top: 5px;
    right: -15px;
    display: block;
}
#primere_visual_modal .visual-ckpt.visual-ckpt-selected .checkpoint-name {
    background: #672727 !important;
    color: white !important;
}
#primere_visual_modal .visual-ckpt:hover {
    box-shadow: unset;
    left: 2px;
    top: 2px;
    border: #949494 solid 1px;
    background: #444444;
    color: white;
}

#primere_visual_modal .visual-ckpt img {
    height: 220px;
    display: block;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius:5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius:5px;
}

#primere_visual_modal .checkpoint-name {
    overflow: hidden;
    display: inline-block;
    width: 100%;
    font-size: 11px;
    font-weight: normal;
    padding: 1px;
    text-align: center;
    white-space: nowrap;
    font-family: 'FUTURATEE BOLDCONDENSED';
    text-transform: uppercase;
    letter-spacing: 1px;

    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;

    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}

#primere_visual_modal .ckpt-version {
    display: block;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 12px;
    font-weight: normal;
    border-right: #ffffff solid 1px;
    border-bottom: #ffffff solid 1px;
    box-shadow: 1px 1px 2px #727272;
    min-width: 22px;
    text-align: center;
    font-family: 'NIMBUSSANSDEE BOLD';
    background: #325614;
    color: #ffffff;
    position: absolute;
    margin-top: 17px;
    /* padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px; */
    text-transform: capitalize;
}

#primere_visual_modal .ckpt-version::before {
    display: block;
    margin: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-bottom-right-radius: 5px;
}

#primere_visual_modal .subdirtab {
    background: #656565;
    vertical-align: middle;
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: #aeaeae  solid 1px;
    border-top: #aeaeae  solid 1px;
}
#primere_visual_modal .subdirtab button {
    min-width: 80px;
    margin-right: 5px;
    padding-left: 9px;
    padding-right: 10px;
    font-size: 16px;
    box-shadow: inset 1px 1px 3px #bdbdbd;
}

#primere_visual_modal .subdirtab label {
    color: var(--input-text);
}

#primere_visual_modal .selected_path {
    color: #626262 !important;
    background: white !important;
    border: white solid 2px !important;
}

#primere_visual_modal .visual-aesthetic-score hr {
    margin: 0px;
    height: 2px;
    border-top: 1px solid #da2b2b;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

#primere_visual_modal div.visual-symlink-type {
    display: block;
    position: absolute;
    background-color: #0f5b77;
    right: 0px;
    top: 17px;
    color: #c1deec;
    white-space: nowrap;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
    border-left: #c1deec solid 1px;
    border-bottom: #c1deec solid 1px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: center;
    font-family: 'FUTURATEE BOOK';
    text-transform: capitalize;
    font-size: 11px;
    font-weight: normal;
    letter-spacing: 1px;
}

#primere_visual_modal .visual-aesthetic-score {
    display: block;
    position: absolute;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 15px;
    font-size: 13px;
    border-right: #ffffff solid 1px;
    border-bottom: #ffffff solid 1px;
    min-width: 22px;
    text-align: center;
    font-family: 'NIMBUSSANSDEE BOLD';
    background-color: #f5e0af;
    right: 0px;
    bottom: 0px;
    color: #ae621e;
    white-space: nowrap;
}

#primere_visual_modal .visual-aesthetic-score span {
    position: unset !important;
    font-size: 11px;
    /* font-family: 'NIMBUSSANSDEE LIGHT'; */
}

#primere_visual_modal .background-SD1 {
    background: #91c0dc;
}
#primere_visual_modal .background-SD2 {
    background: #58b2da;
}
#primere_visual_modal .background-SDXL {
    background: #eac9c9;
}
#primere_visual_modal .background-SD3 {
    background: #c198e8;
}
#primere_visual_modal .background-StableCascade {
    background: #e8c598;
}
#primere_visual_modal .background-Turbo {
    background: #c6ce8f;
}
#primere_visual_modal .background-Flux {
    background: #c49fb6;
}
#primere_visual_modal .background-KwaiKolors {
    background: #a1d595;
}
#primere_visual_modal .background-Hunyuan {
    background: #dcd5ab;
}
#primere_visual_modal .background-Playground {
    background: #a5ccbf;
}
#primere_visual_modal .background-Pony {
    background: #92b7ff;
}
#primere_visual_modal .background-LCM {
    background: #99d9ee;
}
#primere_visual_modal .background-Lightning {
    background: #d3b9ff;
}
#primere_visual_modal .background-Hyper {
    background: #ffe389;
}
#primere_visual_modal .background-StableAudio {
    background: #fdefef;
}
#primere_visual_modal .background-Unknown {
    background: #eaf1b8;
}

/* ["SD1", "SD2", "SDXL", "SD3", "StableCascade", "Turbo", "Flux", "KwaiKolors", "Hunyuan", "Playground", "Pony", "LCM", "Lightning", "Hyper", "SSD", "SegmindVega", "KOALA", "StableZero", "SV3D", "AuraFlow", "SD09", "StableAudio"] */

#primere_visual_modal .ckpt-version.SD1-ckpt::before {
    content: 'SD 1.x';
    background: #0a5075;
    color: #ffffff;
}
#primere_visual_modal .ckpt-version.SD2-ckpt::before {
    content: 'SD 2.x';
    background: #0d2e41;
    color: #ffffff;
}
#primere_visual_modal .ckpt-version.SDXL-ckpt::before {
    content: 'SDXL';
    background: #8a2929;
    color: #ffffff;
}
#primere_visual_modal .ckpt-version.SD3-ckpt::before {
    content: 'SD 3.x';
    background: #440c46;
    color: #ffffff;
}
#primere_visual_modal .ckpt-version.StableCascade-ckpt::before {
    content: 'Cascade';
    background: #4d360b;
    color: #ffffff;
}
#primere_visual_modal .ckpt-version.Turbo-ckpt::before {
    content: 'Turbo';
    background: #414810;
    color: #ffffff;
}
#primere_visual_modal .ckpt-version.Flux-ckpt::before {
    content: 'Flux';
    background: #420a2c;
    color: #ffffff;
}
#primere_visual_modal .ckpt-version.KwaiKolors-ckpt::before {
    content: 'Kolors';
    background: #0f3406;
    color: #ffffff;
}
#primere_visual_modal .ckpt-version.Hunyuan-ckpt::before {
    content: 'Hunyuan';
    background: #3f3a11;
    color: #ffffff;
}
#primere_visual_modal .ckpt-version.Playground-ckpt::before {
    content: 'PG';
    background: #23483c;
    color: #ffffff;
}
#primere_visual_modal .ckpt-version.Pony-ckpt::before {
    content: 'Pony';
    background: #092f77;
    color: #ffffff;
}
#primere_visual_modal .ckpt-version.LCM-ckpt::before {
    content: 'LCM';
    background: #1d4957;
    color: #ffffff;
}
#primere_visual_modal .ckpt-version.Lightning-ckpt::before {
    content: 'Lightning';
    background: #2f2348;
    color: #ffffff;
}
#primere_visual_modal .ckpt-version.Hyper-ckpt::before {
    content: 'Hyper';
    background: #3f3400;
    color: #ffffff;
}
#primere_visual_modal .ckpt-version.StableAudio-ckpt::before {
    content: 'S.Audio';
    background: #4b4040;
    color: #ffffff;
}
#primere_visual_modal .ckpt-version.Unknown-ckpt::before {
    content: '?';
    background: #325614;
    color: #ffffff;
}

div#primere_previewbox {
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
}
div#primere_previewbox img.privewbox_image {
    border: white solid 1px;
    height: 220px;
    box-shadow: 3px 3px 3px #969696a3;
    background-color: #d8d8d899;
}
div#primere_previewbox div.preview_closebutton {
    display: block;
    position: absolute;
    background-color: brown;
    left: 1px;
    top: 1px;
    padding: 3px;
    border: white solid 1px;
    cursor: pointer;
}